{{ define "main" }} {{- partial "menu.html" . -}} {{- partial "header.html" .
-}}

<!-- =============================
       Start About Me
    =============================== -->
<section class="about-me" id="idea">
  <div class="container">
    {{ if .Site.Data.content.about.enable }} {{ with .Site.Data.content.about }}
    <div class="row about-me-holder">
      <div
        class="
          col-lg-6 col-md-6 col-sm-6
          about-me-text
          d-flex
          align-self-center
        "
      >
        <div class="text-holder">
          <h2>{{ .title | safeHTML }}</h2>
          <p>{{ .content | markdownify | emojify }}</p>
          {{ if .button.enable }} {{ with .button }}
          <a
            href="{{ .link | relURL }}"
            target="_blank"
            rel="noreferrer"
            class="button download-cv"
          >
            {{ .label }} <i class="fa fa-download"></i
          ></a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ with .image }}
      <div class="col-lg-6 col-sm-6 col-9 about-me-images">
        <img src="{{ . | relURL }}" alt="about-me" />
      </div>
      {{ end }}
    </div>
</section>
    {{ end }} {{ end }}

{{ if .Site.Data.content.between_1.enable }}
{{ with .Site.Data.content.between_1 }}
<section class="placeholder" id="between-1">
    <div class="skewed">
      {{ $image := resources.Get .img }}
      {{ $small_image := $image.Resize "2048x webp lanczos" }}
      <img class="pb-2" src="{{ $small_image.RelPermalink }}" />
    </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.content.sections_1.enable }} {{ with .Site.Data.content.sections_1 }}
{{ range .section }}
<section class="{{ .class }}" id="{{ .id }}">
  <div class="container">
        <h2>{{ .title | safeHTML }}</h2>
        {{ .content | markdownify | emojify }}
  </div>
</section>
{{ end }}
{{ end }} {{ end }}

<!-- =============================
      End About Me
    =============================== -->

{{ if .Site.Data.content.funfacts.enable }} {{ with .Site.Data.content.funfacts
}}
<div class="fun-facts container pt-5">
  {{ range .funfacts_list }}
  <div class="fun-fact-holder">
    <img class="img-fluid" src="{{ .image | relURL }}" alt="{{ .name }}" />
    <p class="fact-counter count" data-count="{{ .count }}">0</p>
    <p>{{ .name }}</p>
  </div>
  {{ end }}
</div>
{{ end }} {{ end }}


{{ if .Site.Data.content.between_2.enable }}
{{ with .Site.Data.content.between_2 }}
<section class="placeholder" id="between-2">
    <div class="skewed-2">
      {{ $image := resources.Get .img }}
      {{ $small_image := $image.Resize "2048x webp lanczos" }}
      <img class="pb-2" src="{{ $small_image.RelPermalink }}" />
    </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.content.sections_2.enable }} {{ with .Site.Data.content.sections_2 }}
{{ range .section }}
<section class="{{ .class }}" id="{{ .id }}">
  <div class="container">
        <h2>{{ .title | safeHTML }}</h2>
        {{ .content | markdownify | emojify }}
  </div>
</section>
{{ end }}
{{ end }} {{ end }}

{{ if .Site.Data.content.contact.enable }}
{{ with .Site.Data.content.contact }}
<section class="contact pt-5" id="overview">
  <div class="container">
        <h2>{{ .title | safeHTML }}</h2>
        {{ .content | markdownify | emojify }}
      <div id="location_map">
      </div>
  </div>
</section>
{{ end }}
{{ end }}

{{- partial "footer.html" . -}} {{ end }}
